{% extends 'landing/_base.html.twig' %}

{% block content %}
    <div class="col s12">
        <h3>Впечатления</h3>
        {% for review in reviews %}
            <div class="card">
                <div class="card-content">
                    <span class="chip right">{{ review.createdAt|date('d.m.Y') }}</span>
                    {{ review.body }}
                </div>
                <div class="card-action">
                    <a href="{{ path('season_album', { slug: review.tournamentSeason.slug }) }}">
                        {{ review.tournamentSeason.title }}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}