{% extends 'landing/_base.html.twig' %}

{% block content %}
    <div class="col s12">
        <h3>
            {{ season.title }}
            <br />
            <small>{{ season.tournament.title }}</small>
        </h3>
    </div>
{% endblock %}