{% extends 'org/_base.html.twig' %}

{% block content %}
    <div class="col s12 m6">
        {% for advert in userAdverts %}
            <div class="card">
                <div class="card-content">
                    <span class="chip right">{{ advert.createdAt|date('d.m.Y') }}</span>
                    <span class="card-title">{{ advert.title }}</span>
                </div>
                <div class="card-action">
                    <a href="#">Редактировать</a>
                    <a href="{{ path('org_advert_delete', { slug: advert.slug }) }}">Удалить</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}